In [32]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv',sep=',',names=['surgery','age','1','rectal_temp','pulse','resp_rate','temperature of extremities','2','3','4','pain','5','6','7','8','9','10','11','12','13','14','15','outcome','16','17','18','19','20'])

In [4]:
df.head()

,surgery,age,1,rectal_temp,pulse,resp_rate,temperature of extremities,2,3,4,...,12,13,14,15,outcome,16,17,18,19,20
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2

In [23]:
horse_health1=df[['surgery','age','rectal_temp','pulse','resp_rate','temperature of extremities','pain','outcome']]

In [25]:
horse_health=horse_health1.replace('?','0')
horse_health.head()

,surgery,age,rectal_temp,pulse,resp_rate,temperature of extremities,pain,outcome
0,2,1,38.50,66,28,3,5,2
1,1,1,39.2,88,20,0,3,3
2,2,1,38.30,40,24,1,3,1
3,1,9,39.10,164,84,4,2,2
4,2,1,37.30,104,35,0,0,2

In [36]:
column=['surgery','age','rectal_temp','pulse','resp_rate','temperature of extremities','pain','outcome']
for el in column:
    desc=horse_health[el].astype('float64').describe()
    print(desc)

count    300.000000
mean       1.393333
std        0.496094
min        0.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        2.000000
Name: surgery, dtype: float64
count    300.000000
mean       1.640000
std        2.173972
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        9.000000
Name: age, dtype: float64
count    300.000000
mean      30.534333
std       15.306684
min        0.000000
25%       37.200000
50%       38.000000
75%       38.500000
max       40.800000
Name: rectal_temp, dtype: float64
count    300.000000
mean      66.160000
std       33.701737
min        0.000000
25%       48.000000
50%       60.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64
count    300.000000
mean      24.536667
std       19.890889
min        0.000000
25%       12.000000
50%       22.000000
75%       34.250000
max       96.000000
Name: resp_rate, dtype: float64
count    300.000000
mean       1.910000
std        1.314404
min        0.000000
25%        1.000000
50%        2.000000
75%        3.000000
max        4.000000
Name: temperature of extremities, dtype: float64
count    300.00000
mean       2.41000
std        1.64446
min        0.00000
25%        1.00000
50%        2.00000
75%        4.00000
max        5.00000
Name: pain, dtype: float64
count    300.000000
mean       1.546667
std        0.741387
min        0.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        3.000000
Name: outcome, dtype: float64

In [38]:
#Основные метрики
column=['surgery','age','rectal_temp','pulse','resp_rate','temperature of extremities','pain','outcome']
for el in column:
    horse_health1[el].astype('float64').fillna(horse_health[el].astype('float64').median())
    min_=horse_health[el].min()
    max_=horse_health[el].max()
   
    mean_=horse_health[el].astype('float64').mean()
   
      
    mode_=horse_health[el].astype('float64').round().mode()[0]
    median_=horse_health[el].astype('float64').median()
    std_=horse_health[el].astype('float64').std()
    var_=horse_health[el].astype('float64').var()
    q1=horse_health[el].astype('float64').quantile(0.25)
    q3=horse_health[el].astype('float64').quantile(0.75)
    Lower_outlier =q1-(1.5*(q3-q1))
    Higher_outlier = q3+(1.5*(q3-q1))
    print('min=',min_)
    print('max=',max_)
    print('mean=',mean_)
    print('mode=',mode_)
    print('med=',median_)
    print('std=',std_)
    print('var=',var_) 
    print('q1=',q1)
    print('q3=',q3)
    print('---------------------')

min= 0
max= 2
mean= 1.3933333333333333
mode= 1.0
med= 1.0
std= 0.4960939962000904
var= 0.24610925306577536
q1= 1.0
q3= 2.0
---------------------
min= 1
max= 9
mean= 1.64
mode= 1.0
med= 1.0
std= 2.1739719055576163
var= 4.726153846153814
q1= 1.0
q3= 1.0
---------------------
min= 0
max= 40.80
mean= 30.534333333333354
mode= 38.0
med= 38.0
std= 15.306683827275677
var= 234.29456978818277
q1= 37.2
q3= 38.5
---------------------
min= 0
max= 98
mean= 66.16
mode= 48.0
med= 60.0
std= 33.701737200046594
var= 1135.8070903010043
q1= 48.0
q3= 88.0
---------------------
min= 0
max= 96
mean= 24.536666666666665
mode= 0.0
med= 22.0
std= 19.890889384100547
var= 395.6474804905238
q1= 12.0
q3= 34.25
---------------------
min= 0
max= 4
mean= 1.91
mode= 3.0
med= 2.0
std= 1.3144043757064492
var= 1.7276588628762604
q1= 1.0
q3= 3.0
---------------------
min= 0
max= 5
mean= 2.41
mode= 3.0
med= 2.0
std= 1.6444596351503404
var= 2.7042474916387906
q1= 1.0
q3= 4.0
---------------------
min= 0
max= 3
mean= 1.5466666666666666
mode= 1.0
med= 1.0
std= 0.741386811028796
var= 0.5496544035674477
q1= 1.0
q3= 2.0
---------------------